* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    margin: 100px auto;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 9999;
}

.navbar {
    display: flex;
    width: 85%;
    height: 80px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar-logo a {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
}

.navbar-logo a,
.navbar-logo a:hover,
.navbar-logo a:visited {
    text-decoration: none;
    color: black;
}

.navbar-logo a img {
    margin-right: 10px;
}

.nav {
    display: flex;
}

.nav a.nav-item {
    margin: 0 30px;
    list-style: none;
}

.nav a.nav-item:last-child {
    margin-right: 0;
}

a.nav-item, a.nav-item:visited {
    color: black;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}

a.nav-item:after {
    background-color: #B1DA27;
    height: 3px;
    width: 0;
    position: absolute;
    content: '';
    top: calc(100% + 5px);
    right: 0;
    transition: all .4s cubic-bezier(1, 0, 0, 1);
}

a.nav-item:hover:after {
    width: 100%;
    left: 0;
}

.mobile-menu-icon {
    position: absolute;
    right: 0;
    top: 50%;
    display: none;
}

.landing {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background: white url('../images/landing.png') no-repeat bottom;
}

.landing-text {
    align-self: center;
    text-align: left;
    color: white;
    font-size: 68px;
}

.landing-text {
    font-weight: 300;
}

.landing-text b {
    font-weight: 900;
}

.mouse {
    position: absolute;
    bottom: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.mouse img {
    position: absolute;
}

.mouse-body {
    bottom: 40px;
}

.mouse-middle {
    bottom: 75px;
}

.mouse-arrow {
    bottom: 15px;
    animation: scroll-arrow 2s infinite linear;
}

@keyframes scroll-arrow {
    0% {
        bottom: 10px;
    }
    50% {
        bottom: -10px;
    }
    100% {
        bottom: 10px;
    }
}

.product {
    position: relative;
    margin: 100px auto;
}

.product-front {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.product-text {
    margin-left: 50px;
    text-align: justify;
}

.product-name, .product-name-product-page {
    font-weight: 700;
    font-size: 36px;
    position: relative;
}

.product-name:after, .product-name-product-page:after {
    content: ' ';
    position: absolute;
    width: 190px;
    height: 25px;
    left: -15px;
    bottom: 0;
    z-index: -1;
    transition: all 0.6s cubic-bezier(1, 0, 0, 1);
}

.product-name:hover:after {
    left: 20px;
    width: 250px;
}

.product-name.blonde:after, .product-name-product-page.blonde:after {
    background-color: rgba(255, 214, 0, 0.51);
}

.product-name.ambree:after {
    background-color: rgba(255, 92, 0, 0.51);
}

.product-name.blanche:after {
    background-color: rgba(0, 148, 212, 0.51);
}

.product-name.rouge:after {
    background-color: rgba(255, 0, 46, 0.51);
}

.product-name .bio {
    color: #B1DA27;
}

.short-desc {
    margin: 30px 0;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
}

.product-infos {
    font-size: 18px;
    font-weight: 400;
}

.product-back {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 260px;
    font-weight: 500;
    color: #d0d0d0;
    z-index: -1;
}

.product-back-text {
    background: url('../images/texture.png') repeat-x 0 0;
    font-size: 250px;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about .men {
    display: flex;
    flex-direction: row;
}

.men img {
    width: 100%;
}

.men img:first-child {
    margin-right: 10px;
}

.men img:last-child {
    margin-left: 10px;
}

.about-text {
    margin-left: 50px;
}

.about-title {
    font-size: 36px;
    font-weight: 700;
    position: relative;
}

.about-title:after {
    content: ' ';
    position: absolute;
    width: 190px;
    height: 25px;
    left: -15px;
    bottom: 0;
    z-index: -1;
    background-color: #B1DA27;
}

.about-desc {
    margin: 30px 0;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
}

.about .quote-text {
    text-align: center;
    font-style: italic;
    font-size: 18px;
}

.quote-quote {
    color: #b3b3b3;
    font-size: 32px;
    margin: 0 10px;
}

.contact {
    position: relative;
}

.contact form {
    display: flex;
    flex-direction: column;
    height: 430px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.contact form input {
    height: 40px;
    font-style: italic;
    padding-left: 25px;
}

.contact form textarea {
    height: 280px;
    font-style: italic;
    padding-left: 25px;
}

.contact form input::placeholder, .contact form textarea::placeholder {
    color: #AAAAAA;
}

.contact form button {
    height: 40px;
    background: #B1DA27;
    color: white;
    border: none;
    font-size: 23px;
}

.contact form input, .contact form textarea, .contact form button {
    width: 90%;
    font-size: 18px;
    padding: 20px 20px;
}

.contact form button {
    padding: 0;
}

.contact p {
    position: absolute;
    font-weight: 500;
    color: #d0d0d0;
    bottom: -150px;
    z-index: -1;
}

.contact p {
    background: url('../images/texture.png') repeat-x 0 0;
    font-size: 230px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    position: absolute;
    font-weight: 500;
    color: #d0d0d0;
    bottom: -150px;
    z-index: -1;
}

.footer {
    margin-top: 200px;
}

.footer-map {
    width: 100%;
    height: 340px;
    background-size: cover;
    background: url("../images/map.png") center center;
}

.footer-nav {
    width: 100%;
    padding: 30px 10% 50px;
    background-size: cover;
    background: url("../images/footer.png") center center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-nav-title {
    color: #B1DA27;
    text-transform: uppercase;
    font-size: 20px;
    list-style: none;
    padding-bottom: 20px;
}

.footer-nav-item, .footer-nav-item a {
    color: white;
    font-size: 16px;
    list-style: none;
    margin: 2px 0 2px;
}

.footer-nav-item a:hover {
    text-decoration: underline white;
}

.footer-nav-item-spacer {
    margin: 2px 0 20px;
    list-style: none;
}

.footer-copyright {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    text-align: center;
}

.footer-copyright ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.footer-copyright-item, .footer-copyright-item a {
    color: black;
    margin: 2px;
}

.footer-copyright-item a:hover {
    text-decoration: underline black;
}

.footer-legal {
    width: 100%;
    background: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-legal p {
    font-size: 20px;
    font-weight: 900;
    padding: 10px 0;
}


/*///////////////////////////////////////////////////////PRODUCT PAGE /////////////////////////////*/

.product-page .products {
    margin-top: 200px;
}

.product-page .product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.product-page .product-front {
    width: 750px;
}

.single-bottle {
    margin-right: 20px;
}

.product-buyInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 230px;
    width: 200px;
}

.buyInfos-price {
    font-weight: 500;
    font-size: 50px;
}

.buyInfos-dispo {
    color: #B1DA27;
    font-size: 22px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buyInfos-quantity span {
    font-size: 22px;
    font-weight: 500;
}

.buyInfos-quantity input[type="number"] {
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border: solid 1px black;
}

button.buyInfos-addtocart {
    background: #B1DA27;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    transition: all .2s linear;
}

button.buyInfos-addtocart:hover {
    cursor: pointer;
    background: white;
    color: #B1DA27;
    border: solid 2px #B1DA27;
}

button.buyInfos-addtocart:active {
    font-size: 18px;
}

.full-desc.container {
    position: relative;
}

.full-desc-item {
    width: 100%;
    height: 515px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-left {
    flex-direction: row;
}

.img-right {
    flex-direction: row-reverse;
}

.full-desc-text {
    width: 80%;
    height: 250px;
    padding: 20px;
    background: white;
    position: absolute;
}

.full-desc-text .product-back {
    z-index: 1;
}

.full-desc-text h1 {
    margin: 10px 0;
}

.full-desc-text span {
    font-size: 24px;
}

.desc-text-right {
    right: 0;
}

.desc-text-left {
    left: 0;
    text-align: right;
}

/**********/
/* MOBILE */
/**********/

@media (max-width: 992px) {
    .menu-icon {
        display: block;
    }

    .menu-icon {
        position: absolute;
        z-index: 999;
        width: 50px;
        height: 50px;
        right: 0;
        content: "";
    }

    .menu-icon [class|="barre"] {
        position: absolute;
        content: "";
        width: 50px;
        height: 4px;
        background-color: #B1DA27;
        border-radius: 100px;
    }

    .menu-icon.open [class|="barre"] {
        background-color: white;
    }

    .menu-icon .barre-1 {
        top: 22%;
    }

    .menu-icon .barre-2 {
        top: calc(50% - 2px);
    }

    .menu-icon .barre-3 {
        bottom: 22%;
    }

    .menu-icon.open .barre-1, .menu-icon.open .barre-3 {
        top: calc(50% - 2px);
    }

    .menu-icon.open .barre-1 {
        transform: rotate(45deg);
    }

    .menu-icon.open .barre-2 {
        transform: rotate(-45deg);
    }

    .menu-icon.open .barre-3 {
        display: none;
    }

    .nav {
        display: none;
        left: 100%;
    }

    .nav.active {
        left: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        padding: 100px 10px;
        background: #B1DA27;
        justify-content: center;
        align-items: center;
        transition: left .3s cubic-bezier(1, 0, 0, 1);
    }

    .nav a.nav-item {
        display: block;
        margin: 20px auto;
    }

    .nav a.nav-item, .nav a.nav-item:visited {
        font-size: 2em;
        color: white;
        text-decoration: none;
        font-weight: 700;
        position: relative;
        text-align: center;
    }

    .nav a.nav-item:last-child {
        margin-right: auto;
    }

    .mouse {
        display: none;
    }

    .product-back-text {
        font-size: 120px;
    }

    .about {
        flex-direction: column;
    }

    .about-text {
        margin: 20px 0;
    }

    .contact p {
        display: none;
    }

    .contact form {
        align-items: center;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .footer {
        margin-top: 0;
    }

    .full-desc-text {
        width: 100%;
        height: auto;
        position: initial;
    }

    .full-desc-item {
        height: auto;
        flex-direction: column;
    }

    .full-desc-item img {
        width: 100%;
    }

    .single-bottle {
        margin: 0;
    }

    .product-page .product {
        flex-direction: column;
        align-items: center;
    }

    .product-page .product-front {
        flex-direction: column;
    }

    .product-back {
        display: none;
    }

    .landing-text {
        text-align: center;
        width: 80%;
        font-size: 52px;
    }

    .full-desc-item img {
        width: 100%;
    }

    .product-text {
        margin-left: 20px;
    }

    .product-desc {
        margin: 10px 0;
    }

    .bottle {
        width: 25%;
    }

    .footer-nav {
        flex-direction: column;
    }

    .footer-nav ul {
        margin: 10px 0;
    }

    .footer-copyright ul {
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }

    .footer-copyright-divider {
        display: none;
    }

    .footer-legal {
        padding: 0;
    }

    .footer-legal p {
        text-align: center;
        font-size: 15px;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .full-desc-item {
        height: auto;
        flex-direction: column;
        padding: 40px 0;
    }

    .full-desc-item img {
        height: 200px;
        object-fit: cover;
    }

    .product-page .product-front {
        width: 100%;
    }

    .product-name-product-page {
        margin-top: -450px;
        margin-bottom: 455px;
    }

    .single-product-text {
        margin-left: 0;
    }

    .footer-nav, .footer-nav ul {
        align-items: center;
    }

    .footer-nav {
        background-repeat: no-repeat;
        background-size: cover;
    }
}
